[user]
    name = Martijn Cornips
	email = cornips@users.noreply.github.com
    signingkey = 750FBEDC
[core]
    excludesfile = ~/.gitignore_global
[commit]
    template = ~/.stCommitMsg
    gpgsign = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[pull]
    rebase = true
[alias]
    logs = log --show-signature
[init]
    defaultBranch = main
[fetch]
    prune = true
[rebase]
    autosquash = true
